
# BLEY Educational Analytics Dashboard
# MSc Data Analytics Dissertation


shiny>=1.6.3
shinywidgets>=0.7.0

pandas>=2.3.0
numpy>=2.3.0

plotly>=6.8.0
statsmodels>=0.14.5

jinja2>=3.1.6

htmltools>=0.6.0

